.footText {
    color: #be9983;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}

.footer-text {
    margin-left: auto;
    margin-right: auto;
}

a,
  a:visited {
    color: #e2c8b8;
    display: inline-block;
    font-size: 1rem;
  }
  
  a:hover {
    background-color: var(--light-color);
    color: #dcb9a3;
    text-decoration: none;
  }